{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<font size="+2">
The Groton Science Fair is volunteer effort.  It will be open for all 
elementary students (K-4) in the Groton Dunstable School District. This includes 
the Florence Roche and Swallow Union schools. 
<p>
<p>This event will take place some 
time in March 2014. Students will have the opportunity to present a Scientific 
Project of their choosing to the attendees at this one day Science Fair event.
</font>

{% endblock %}
