{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<div class="panel" >
    <div class="panel-body alert-success" style="text-align: center; color: black;">
        <div>
            <div style="font-size:3em;">
                <nobr>2018 Awards</nobr>
            </div>
        </div>
    </div>
</div>


<div class="row" style="text-align: center; color: black;">
    <h1><b>Kindergarten</b></h1>
</div>
<br/>
<br/>

<div class="row" >
    <!--
    --><div class="col-md-6 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/audrey_neff_small.jpg">
            <img height="300px" src="/img/awards/audrey_neff_2_small.jpg">
        </p>
        <h3>Best Oral Presentation</h3>
        <h2>Magnetic or Not</h2>
        <h3>Audrey Neff</h3><br/>
    </div><!--
    --><div class="col-md-6 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/oscar_smith_small.jpg">
        </p>
        <h3>Best Supporting Materials</h3>
        <h2>Fused Lizard</h2>
        <h3>Oscar Smith</h3><br/>
    </div>
</div>
<br/>
<br/>

<div class="row" >
    <div class="col-md-12 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/colin_tyler_small.jpg">
            <img height="300px" src="/img/awards/colin_tyler_2_small.jpg">
        </p>
        <h3>Most Original Project</h3>
        <h2>Crystals</h2>
        <h3>Colin Tyler</h3><br/>
    </div><!--
    -->
</div>
<br/>
<br/>

<div class="row" style="text-align: center; color: black;">
    <h1><b>First Grade</b></h1>
</div>
<br/>
<br/>

<div class="row">
    <!--
    --><div class="col-md-6 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/owen_bedy_small.jpg">
        </p>
        <h3>Best Oral Presentation</h3>
        <h2>Lightning</h2>
        <h3>Owen Bedy</h3><br/>
    </div><!--
    --><div class="col-md-6 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/serissa_lothrop_marta_selinger_small.jpg">
        </p>
        <h3>Most Original Project</h3>
        <h2>Project Awesome</h2>
        <h3>Serissa Lothrop and Marta Selinger</h3><br/>
    </div>
</div>
<br/>
<br/>

<div class="row">
    <div class="col-md-12 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/henry_anderson_small.jpg">
            <img height="300px" src="/img/awards/henry_anderson_2_small.jpg">
        </p>
        <h3>Best Supporting Materials</h3>
        <h2>Chemistry is a Piece of Cake</h2>
        <h3>Henry Anderson</h3><br/>
    </div><!--
    -->
</div>
<br/>
<br/>

<div class="row" style="text-align: center; color: black;">
    <h1><b>Second Grade</b></h1>
</div>
<br/>
<br/>

<div class="row">
    <!--
    --><div class="col-md-12 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/abigail_juby_small.jpg">
            <img height="300px" src="/img/awards/abigail_juby_2_small.jpg">
        </p>
        <h3>Best Oral Presentation</h3>
        <h2>Dreams</h2>
        <h3>Abigail Juby</h3><br/>
    </div>
</div>
<br/>
<br/>

<div class="row">
    <div class="col-md-12 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/parker_saafi_small.jpg">
            <img height="300px" src="/img/awards/parker_saafi_2_small.jpg">
        </p>
        <h3>Most Original Project</h3>
        <h2>Does Sugar Really Make You Hyper?</h2>
        <h3>Parker Saafi</h3><br/>
    </div>
</div>
<br/>
<br/>

<div class="row">
    <div class="col-md-12 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/cameron_grasso_small.jpg">
            <img height="300px" src="/img/awards/cameron_grasso_2_small.jpg">
        </p>
        <h3>Best Supporting Materials</h3>
        <h2>Wind Energy</h2>
        <h3>Cameron Grasso</h3><br/>
    </div><!--
    -->
</div>
<br/>
<br/>

<div class="row" style="text-align: center; color: black;">
    <h1><b>Third Grade</b></h1>
</div>
<br/>
<br/>

<div class="row">
    <!--
    --><div class="col-md-6 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/trishuli_mandal_small.jpg">
            <img height="300px" src="/img/awards/trishuli_mandal_2_small.jpg">
        </p>
        <h3>Best Oral Presentation</h3>
        <h2>Electrolysis</h2>
        <h3>Trishuli Mandal</h3><br/>
    </div><!--
    --><div class="col-md-6 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/elizabeth_oldenburg_small.jpg">
            <img height="300px" src="/img/awards/elizabeth_oldenburg_2_small.jpg">
        </p>
        <h3>Most Original Project</h3>
        <h2>Which Detergent Cleans Best?</h2>
        <h3>Elizabeth Oldenburg</h3><br/>
    </div>
</div>
<br/>
<br/>

<div class="row">
    <div class="col-md-12 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/elizabeth_bailie_small.jpg">
            <img height="300px" src="/img/awards/elizabeth_bailie_2_small.jpg">
        </p>
        <h3>Best Supporting Materials</h3>
        <h2>How Can You Remove Salt From Salt Water to Make it Drinkable?</h2>
        <h3>Elizabeth Bailie</h3><br/>
    </div><!--
    -->
</div>
<br/>
<br/>

<div class="row" style="text-align: center; color: black;">
    <h1><b>Fourth Grade</b></h1>
</div>
<br/>
<br/>

<div class="row">
    <!--
    --><div class="col-md-6 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/ana_rose_martel_small.jpg">
            <img height="300px" src="/img/awards/ana_rose_martel_2_small.jpg">
        </p>
        <h3>Best Oral Presentation</h3>
        <h2>Owning a Bunny</h2>
        <h3>Ana Rose Martel</h3><br/>
    </div><!--
    --><div class="col-md-6 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/lexi_greenwood_small.jpg">
            <img height="300px" src="/img/awards/lexi_greenwood_2_small.jpg">
        </p>
        <h3>Best Supporting Materials</h3>
        <h2>The Incredible Arch of an Egg</h2>
        <h3>Lexi Greenwood</h3><br/>
    </div>
</div>
<br/>
<br/>

<div class="row">
    <div class="col-md-12 vcenter text-center">
        <p>
            <img height="300px" src="/img/awards/shane_carrier_small.jpg">
            <img height="300px" src="/img/awards/shane_carrier_2_small.jpg">
        </p>
        <h3>Most Original Project</h3>
        <h2>Optical Illusions</h2>
        <h3>Shane Carrier</h3><br/>
    </div><!--
    -->
</div>
<br/>
<br/>

{% endblock %}
