<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Groton Dunstable Elemenentary Science Fair</title>
        <!-- scripts and styles -->
        {% style "/css/bootstrap-theme.min.css" %}
        {% style "/css/bootstrap.min.css" %}
        {% style "/css/screen.css" %}
        <style>
            body {
                background-image: url("/img/testtube.jpg");
            }
        </style>
    </head>
    <body>
        <!-- navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">

              <a class="navbar-brand" href="{{servlet-cnontext}}/">
 <!--         <img style='display: inline' height='35' src="img/beaker.png" />-->
                  <b>GDE</b>ScienceFair.org</a>
            </div>
            <div class="navbar-collapse collapse ">
              <ul class="nav navbar-nav">
                  <li class="{{home-selected}}"><a href="{{servlet-context}}/">Home</a></li>
                  <li class="{{awards-selected}}"><a href="{{servlet-context}}/awards">Awards</a></li>
                  <li class="{{info-selected}}"><a href="{{servlet-context}}/info">Information</a></li>
                  <li class="{{rules-selected}}"><a href="{{servlet-context}}/rules">Rules</a></li>
                  <!--<li class="{{registration-selected}}"><a href="{{servlet-context}}/waitinglist">New Registration</a></li>-->
                  <li class="{{registration-selected}}"><a href="{{servlet-context}}/registration">New Registration</a></li>
                  <li class="{{makechanges-selected}}"><a href="{{servlet-context}}/makechanges">My Registration</a></li>
                  <li class="{{contact-selected}}"><a href="{{servlet-context}}/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
        {% script "/js/bootstrap.min.js" %}
        <script type="text/javascript">
            var context = "{{servlet-context}}";
        </script>
    </body>
</html>

