{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<h1>Accessing My Registration</h1>

<br>
<br>

<div class="row">
    <div class="col-md-2">
        <img src='img/beaker.png' width='120px'/>
    </div>
    <div class="col-md-10">

        <h2>We just sent you an email with a link to edit your registration!</h2>
        <br>

        <div class="h3">

            It might take a minute or two to get into your inbox.
            <br>
            <br>
            If you can't find our email, try checking your spam folder.
            <br>
            <br>
        </div>
        <div class="h4">
            Kindly add <a href="mailto:no-reply@gdesciencefair.org">no-reply@gdesciencefair.org</a> to your contacts, so we
            don't ever
            end up in your spam folder.
        </div>


        {% if email-link %}
        <br>
        <a href="{{email-link}}">DEVELOPER MODE: Registration link</a>
        {% endif %}

    </div>
    <br>
    <br>

    {% endblock %}

