{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<h1>My Registration</h1>
<br>
{% if message %}
<div class="row col-md-4">
    <div class="alert alert-success">{{message}}</div>
</div>
{% endif %}

<table class="table table-striped">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <td></td>
    </tr>
    <tr>
        <th width='250px'>First Parent/Guardian</th>
        <td>{{name1}}</td>
        <td>{{email1}}</td>
        <td>
            <!--<button type="submit" class="btn">Edit</button>-->
        </td>
    </tr>
    <tr>
        <th>Second Parent/Guardian</th>
        <td>{{name2}}</td>
        <td>{{email2}}</td>
        <td>
            <!--<button type="submit" class="btn">Edit</button>-->
        </td>
    </tr>
</table>

<br>
<br>


{% for item in students %}
<table class="table table-striped">
    <tr>
        <th>Student Name</th>
        <th>Project Title</th>
        <th>School</th>
        <th>Teacher</th>
        <th>Grade</th>
        <td></td>
    </tr>
    <tr>
        <td>{{item.student}}</td>
        <td>{{item.title}}</td>
        <td>{{item.school}}</td>
        <td>{{item.teacher}}</td>
        <td>{{item.grade}}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="/edit-student?id={{item.id}}" role="button">Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a href="/remove-student?id={{item.id}}" class="btn btn-danger btn-sm">Remove</a>
        </td>
    </tr>
    <tr>
        <td colspan="6"><b>Description:</b> {{item.description}}</td>

    </tr>

</table>
<br>
{% endfor %}


<div class="row">
    <div class="col-sm-2">
        <a href="/add-student" name="AddStudent" class="btn btn-success btn-sm">Add Student</a>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        You have paid: {{paid}}
    </div>
</div>


</form>

{% endblock %}

