{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-1">
        <img src='img/beaker.png' width='75px'/>
    </div>
    <div class="col-md-10">
        <h1>
            <nobr><b>G</b>roton <b>D</b>unstable <b>E</b>lementary Science Fair</nobr>
        </h1>
    </div>
</div>
<br>

<div class="row">

    <div class="col-md-3 alert alert-warning">
        <h4><b>Follow these steps</b></h4>
        <ol>
            <li>Read Welcome (below)</li>
            <li>Read <a href="/info">Information</a></li>
            <li>Read <a href='/rules'>Rules</a></li>
            <li><a href='/registration'>Register</a></li>
            <li>Send in Fee</li>
            <li>Begin project</li>
        </ol>
        Questions? <a href="/contact">Contact Us.</a>
    </div>
    <div class="col-md-5 alert alert-success">
        <h4><b>Critical Information</b></h4>
        <table>
            <tr>
                <td>Science Fair Date:
                    <th>Saturday, March 22, 2014
            </tr>
            <tr>
                <td>Science Fair Start Time:
                    <th>1:00 PM
            </tr>
            <tr>
                <td>Science Fair Location:
                    <th>North Middle School
            </tr>
            <tr>
                <td>Registration Deadline:
                    <th>Saturday, Feb 15, 2014
            </tr>
            <tr>
                <td>Registration Fee:
                    <th>$5 per participant
            </tr>
            <tr>
                <td>Registration Fee Deadline:&nbsp;
                    <th>Friday, Feb 28, 2014
            </tr>
            <tr>
                <td>Limited Spaces Available
        </table>
    </div>


    <div class="alert alert-info col-md-3">
        <h4><b>Sponsors</b></h4>
        Florence Roche PTA<br>
        Swallow Union PTA<br>
        <abbr title="Groton Dunstable Science Technology Engineering Math"><a href="http://www.gdstem.org/">GDSTEM</a></abbr><br>
        <abbr title="Groton Dunstable Education Foundation"><a href="http://www.gdefinc.org/">GDEF</a><abbr><br>
    </div>

</div>

<div class="row">

    <div class="col-md-12">

        <center>
            <h2>WELCOME</h2>
        </center>
        <br>
        Dear Students and Parents,
        <p>
            <br>

            The Science Fair Team welcomes you to the Groton Dunstable Elementary Science Fair. We have a mathematical
            formula that we like to use:

        <p>

        <center>
            <b>SCIENCE = FUN</b>
        </center>
        <br>

        <p>

            Our main goal for the Science Fair is for the students to help prove our formula!

        <p>Our other goals are:

        <p>
        <ul>
            <li>Students learn specifics about a scientific subject through research.
            <li>Students learn to perform a scientific project. <br>
            <li>Students use their creative skills to prepare a presentation on their scientific project.<br>
            <li>Students learn to orally communicate their presentation to judges and the general public.<br>
            <li>Students learn to engage in a friendly competition.<br>
        </ul>
        <p>

        <p>
            We welcome all elementary students from the Florence Roche and Swallow Union schools to prepare a Scientific
            Project and showcase their project at the Science Fair.

        <p>

            We are excited to provide a competitive arena for scholastic abilities and encourage a friendly competitive
            spirit. We hope that students will embrace this spirit and strive to compete at their best level while
            respecting and encouraging their fellow students.

        <p>

            <b>Please be sure to read <u>all</u> the <a href="/rules">Rules</a> and <a href="info">Information</a>
                before starting your project!</b> We would
            hate for you to
            have done some work and then realize you have to start all over because you weren’t following the rules.

        <p>

            We look forward to seeing the many interesting projects that students will present. Good luck to all our
            participants and remember to have FUN!

        <p>


            The Science Fair Team
            <br> <br>
    </div>


</div>
</div>


{% endblock %}
