{% extends "sciencefair/views/templates/base.html" %}
{% block content %}


<div class="panel" >
    <div class="panel-body alert-success" style="text-align: center; color: black;">
        <div style="position: absolute; padding: 10px; padding-top:25px;"><img src='img/beaker.png' width='75px'/></div>
        <div style="">
            <div style="font-size:3em;">
                <nobr>Groton Dunstable Elementary</nobr>
            </div>
            <div style="font-size:4em;">
                <b>Science Showcase</b>
            </div>
            <br />
            <br />
            <i>Sponsored by the Florence Roche PTA and the Swallow Union APT</i>
        </div>
    </div>
</div>

<br/>

<!--
<div class="jumbotron">
    <b>NOTICE! Due to impending snow the Science Showcase will be postponed until Sunday, April 2nd at 1PM.</b>
</div>
-->

<div class="row">
    <!--
    <div class="col-md-4 col-md-offset-2">
        <div class="panel" >
            <div class="panel-body alert-success" style="min-height:220px">
                <h4><b>Follow These Steps</b></h4>
                <ol>
                    <li>Read Welcome (below)</li>
                    <li>Read this <a href="/info">Information</a></li>
                    <li>Read the <a href='/rules'>Rules</a></li>
                    <li><a href='/waitinglist'>Register</a></li>
                    <li><a href='/registration'>Register</a></li>

                    <li>Begin your project</li>
                </ol>
                Questions? <a href="/contact">Contact Us.</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body alert-success" style="min-height:220px">
                <center>
                    <font size="+1">
                <b>Saturday, April 7, 2018</font><br>
                1:00 PM - 5:00 PM<br>
                North Middle School</b></center>
                <br>
                <table>
                    <tr>
                        <td>
                        <th>
                    </tr>
                    <tr>
                        <td>Registration Deadline:&nbsp;
                        <th>March 12
                    </tr>
                </table>
                <center>Limited Spaces Available</center>
                <center><a href="/registration">Sign up here</a></center>
            </div>
        </div>
    </div>
    -->

    <!--
    <div class="col-md-6 col-md-offset-3">
        <div class="panel">
            <div class="panel-body alert-success">
                <h4 style="text-align: center"><b>The 2018 Science Showcase has Concluded</b></h4>
                <ul>
                    <li>Thanks to all the students who participated this year.</li>
                    <li><a href="https://photographybyandrea1.pixieset.com/groton-dunstablesciencefair2018/">View the event photos</a></li>
                </ul>
            <br />
            <i>Pictures of the event were provided by <a href="https://www.photobyandrea.com">photography by Andrea</a></i>
            </div>
        </div>
    </div>
    -->

    <div class="col-md-6 col-md-offset-3">
        <div class="panel">
            <div class="panel-body alert-success">
                <h4 style="text-align: center"><b>2nd Annual Science Showcase</b></h4>
                <center><font size="+1">
                    <b>Saturday, April 6, 2019</font><br/>
                    1:00 PM<br/>
                    Groton Dunstable Middle School North</b>
                <br/>
                <hr/>
                <i>Inclement weather date April 13, 2019 @ 1:00 PM</i><br/>
                <i>Registration opens 3/6/19, closes 3/22/19</i><br/>
                <a href="/registration">Sign up here</a></center>
        </div>
    </div>

</div>

<br/>
<br/>

<div class="row">
    <div class="col-md-12">
        <h3>Students and Parents, Welcome to the Groton Dunstable Elementary Science Showcase!</h3>
        <p>
            <br/>
            The main goal of the Science Showcase is for participants to have fun while engaging in 
            a scientific process.  The 2016 Massachusetts Science and Technology Curriculum Framework 
            that is utilized by the Groton Dunstable Regional School District states, <i>"Knowledge alone 
            is not enough: students need to be able to act on that knowledge. Students need to be 
            able to apply science and engineering practices-skills that let them analyze a natural 
            phenomenon or designed system and determine underlying mechanisms and causes-in civic, 
            college, and career contexts."</i> <b>*</b> The Science Showcase allows participants to do just that!
        </p>

        <p>Additionally, students will have the opportunity to:</p>
        <p>
            <ul>
                <li>Learn specifics about a scientific subject through research.</li>
                <li>Perform a scientific project.</li>
                <li>Use their creative skills to explain their scientific project.</li>
                <li>Orally communicate their explanation to judges and the general public.</li>
                <li>Win one of three different awards.</li>
            </ul>
        </p>

        <p/>

        <p>
            We welcome all elementary students from the Florence Roche and Swallow Union schools to prepare a Scientific
            Project and present their project at the Science Showcase.
        </p>

        <p>
            We are excited to provide an arena for scholastic and creative abilities and to share the love of science.
            We hope that students will leave feeling proud of their accomplishments and learn about many scientific
            topics from each other.
        </p>

        <p>
            <b>
                Please be sure to read <u>all</u> the <a href="/rules">Rules</a> and <a href="info">Information</a>
                before starting your project!
            </b> 
            We would hate for you to have done some work and then realize you have to start all over 
            because you didn’t follow the rules.
        </p>

        <p>
            We look forward to seeing the many interesting projects that students will prepare.
            Good luck to all our participants and remember to have FUN!
        </p>

        <p>
            -- The Science Showcase Team
        </p>

        <br/>
        <br/>

        <p><b>*</b> Read more about the <a href="http://www.doe.mass.edu/frameworks/scitech/2016-04.pdf">2016 Massachusetts Science and Technology Curriculum</a></p>
        <br/>
        <br/>
    </div>
</div>

{% endblock %}
