{% extends "sciencefair/views/templates/base.html" %}
{% block content %}


    <div style="background-color: #dff0d8; padding:5px">

        <img style="float:left;  padding-top:25px; " src='img/beaker.png' width='75px'/>
        <center>
            <font size="+4">
            <nobr>Groton Dunstable Elementary Science Fair</nobr>
            </font>
        </center>
        <center>&nbsp;&nbsp;&nbsp;<i>Sponsored by the Florence Roche PTA and the Swallow Union APT</i></center>
    </div>

<br><br>
<br<br>
<br>

<div class="jumbotron">
    <b>NOTICE! Due to impending snow the Science Fair will be postponed until Sunday, April 2nd at 1PM.</b>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel" >
            <div class="panel-body alert-success" style="min-height:220px">
                <h4><b>Follow These Steps</b></h4>
                <ol>
                    <li>Read Welcome (below)</li>
                    <li>Read this <a href="/info">Information</a></li>
                    <li>Read the <a href='/rules'>Rules</a></li>
                    <!--<li><a href='/waitinglist'>Register</a></li>-->
                    <li><a href='/registration'>Register</a></li>

                    <li>Begin your project</li>
                </ol>
                Questions? <a href="/contact">Contact Us.</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body alert-success" style="min-height:220px">
                <center>
                    <font size="+1">
                <b><s>Saturday, April 1, 2017</s><br />
                      Sunday, April 2, 2017</font><br>
                1:00 PM<br>
                North Middle School</b></center>
                <br>
                <table>
                    <tr>
                        <td>
                        <th>
                    </tr>
                    <tr>
                        <td>Registration Deadline:&nbsp;
                        <th>March 15
                    </tr>
                </table>
                <!--<center>Limited Spaces Available</center>-->
                <!--<center><a href="/registration">Sign up here</a></center>-->
            </div>
        </div>
    </div>

    <!-- 2015
    <div class="col-md-4">

        <div class="panel">
            <div class="panel-body alert-success" style="min-height:220px">
                <h4><b>Changes From Last Year</b></h4>
                <ul>
                <li>Teams of two allowed.
                    <li>Must give presentation three separate times to three different judges.
                    <li>Demonstration type project has been discontinued
                    <li>Registration fee increased to $6
                    <li>Online Payment System</li>
                </ul>
            </div>
        </div>

    </div>
    -->

</div>

<br>
<br>
<div class="row">

    <div class="col-md-12">
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
            <font size="+2" color="#3c763d"><b>
                We have a mathematical formula that we like to use:
            </b>
                <b>SCIENCE = FUN</b>
            </font>

        <br>

        <h3>Hello Students and Parents!</h3>
        <p>
            <br>

            The Science Fair Team welcomes you to the Groton Dunstable Elementary Science Fair.
        <br>

        <p>

            Our main goal for the Science Fair is for the students to help prove our formula!

        <p>Our other goals are:
        <p>

        <ul>
            <li>Students learn specifics about a scientific subject through research.
            <li>Students learn to perform a scientific project. <br>
            <li>Students use their creative skills to prepare an explanation about their scientific project.<br>
            <li>Students learn to orally communicate their explanation to judges and the general public.<br>
        </ul>
        <p>

        <p>Changes to previous Fairs:</p>
        <p />
        <ol>
            <li>No check in - Table location given prior to event.</li>
            <li>Clearer rules on parental participation.</li>
            <li>There will be no competition this year. Students will instead receive feedback from judges about their project.</li>
        </ol>
        </div>
        <p />

        <p>
            We welcome all elementary students from the Florence Roche and Swallow Union schools to prepare a Scientific
            Project and showcase their project at the Science Fair.

        <p>

            We are excited to provide an arena for scholastic and creative abilities and to share the love of science.
            We hope that students will leave feeling proud of their accomplishments and learn about many scientific
            topics from each other.


        <p>

            <b>Please be sure to read <u>all</u> the <a href="/rules">Rules</a> and <a href="info">Information</a>
                before starting your project!</b> We would
            hate for you to
            have done some work and then realize you have to start all over because you weren’t following the rules.

        <p>

            We look forward to seeing the many interesting projects that students will prepare.
            Good luck to all our participants and remember to have FUN!

        <p>


            -- The Science Fair Team
            <br> <br>

    </div>


</div>
</div>


{% endblock %}
