{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<h1>My Registration</h1>

{% if changes-message %}
<br>
<div class="row" >
    <div class="col-xs-8" >
<div class="panel">
    <div class="panel-body alert-danger">
        To make changes to a registration, follow these directions.
    </div>
</div>
    </div>
</div>
{% endif %}


<br>
<h4> We don't collect passwords. To access your registration, we will email you a private link.
    <br>
    <br>
    Be sure to provide the email address that you used during registration.<br><br>
</h4>

<form class="form-horizontal" role="form" method="POST" action="/makechanges">

    <div class="row form-group  {% if error %}has-error{%endif%}">
        <div class="col-xs-2 text-right">
            <b>Email</b>
        </div>
        <div class="col-xs-4">
            <input type="input" name="email" value="{{email}}" class="form-control"
                   placeholder="Jane.Smith@example.com" value="{{email}}">
        </div>
        {% if error %}
        <label class="control-label">{{error}}</label>
        {% endif %}
    </div>
    <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary">Email me my registration link</button>
        </div>
    </div>
</form>


{% endblock %}


<script>
    document.getElementById("email").focus();

</script>
