{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<h1>Registration Payment.</h1>

<br/>
With your {{student-count}} student(s), your total registration fee is <strong>
    ${{cost}}</strong>
<br>
<br>
<p>

<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                Pay with Credit Card.
            </div>
            <div class="panel-body">
                <br>
                <b>This is the preferred way.</b>
                <br>
                <br>

                <form action="/process-payment" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{stripe-key}}"
                            data-amount="{{cost}}00"
                            data-name="GDE Science Showcase"
                            data-description="Registration Fee"
                            data-allow-remember-me="false"
                            data-email="{{email}}"
                            />
                    </script>
             </form>
            </div>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                Mail Check
            </div>
            <div class="panel-body">
                              Cash or check is acceptable.
  A check should be written out to "GDE Science Fair".    Place a note
                    marked with the child's name and grade and mail it and payment to:
                <br>
                <br>
                GDE Science Fair<br>
                c/o Raji Mahaadevan<br>
                65 Lost Lake Drive<br>
                Groton, MA 01450<br>
                <br>

                <form action="/record-payment-choice?how=mail" method="POST">
                    <button type="submit" class="btn btn-default">Pay by Mail</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-heading">Send to School</div>
            <div class="panel-body">
                You can pay by sending the payment to your student's classroom teacher.
                <p>
                    <br>
                    Cash or check is acceptable.
  A check should be written out to "GDE Science Fair".                    Place the payment into an envelope
                    marked with the child's name, grade, and "Science Fair".   Have your child deliver this envelope to the child's teacher.

                    <br><br>

                <form action="/record-payment-choice?how=school" method="POST">
                    <button type="submit" class="btn btn-default">Pay via School</button>
                </form>

            </div>
        </div>

    </div>
</div>

 <div class='row'>
   <div class="col-xs-12">
   Note that no refunds are allowed past the sign up deadline, 27 Feb 2015
   </div>

</div>
{% endblock %}
