{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<h1>Photo Permission</h1>

<br>
<br>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        Andrea Brown of Photography by Andrea has again generously donated her photography services for this event.
        Please select from the following choices as appropriate:
        <form method="post" action="/record-photo-permission">
            <input type="radio" name="photopermission" value="No" onclick="$('#finbutt')[0].disabled=false">
            I do not want my child photographed.
            <br>
            <br>

            <input type="radio" name="photopermission" value="Yes" onclick="$('#finbutt')[0].disabled=false">
            I would like my child photographed but do not want their photos published on the website or local papers.
            <br>
            <br>

            <input type="radio" name="photopermission" value="Share" onclick="$('#finbutt')[0].disabled=false">
            I agree that my child can be photographed and their photos can be published on the website and in local newspapers.
            <br>
            <br>

            <button id='finbutt' class="btn btn-primary" type="submit" disabled>Finish</button>
        </form>
    </div>
    <br>
    <br>

    {% endblock %}

