{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<h1 xmlns="http://www.w3.org/1999/html">Registration</h1>

<br/>

{% if error %}
<p class="error">{{error}}</p>
{% endif %}


<form class="form-horizontal" role="form" method="POST" action="/students">

    {% for item in students %}

    <h4> {{item.title}} Student</h4>

    <div class="row">
        <div class="col-xs-3 text-right">
            <b>Name</b>
        </div>

        <div class="col-xs-4">
            <input type="Name" class="form-control" name="student{{item.id}}" value="{{item.name}}"
                   placeholder="Jonny Smith">
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-xs-3 text-right">
            <b>School</b>
        </div>
        <div class="col-xs-6">
            <input type="radio" name="school{{item.id}}" {% ifequal item.school "groton" %}checked{% endifequal %} value="g0">
            Groton
            &nbsp;
            <input type="radio" name="school{{item.id}}" {% ifequal item.school "dunstable" %}checked{% endifequal %} value="g1">
            Dunstable
            &nbsp;
            <input type="radio" name="school{{item.id}}" {% ifequal item.school "other" %}checked{% endifequal %} value="g2">
            Other
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-xs-3 text-right">
            <b>Grade</b>
        </div>
        <div class="col-xs-6">

            <input type="radio" name="grade{{item.id}}" {% ifequal item.grade "g0" %}checked{% endifequal %} value="g0">
            K
            &nbsp;
            <input type="radio" name="grade{{item.id}}" {% ifequal item.grade "g1" %}checked{% endifequal %} value="g1">
            1st
            &nbsp;
            <input type="radio" name="grade{{item.id}}" {% ifequal item.grade "g2" %}checked{% endifequal %} value="g2">
            2nd
            &nbsp;
            <input type="radio" name="grade{{item.id}}" {% ifequal item.grade "g3" %}checked{% endifequal %} value="g3">
            3rd
            &nbsp;
            <input type="radio" name="grade{{item.id}}"{% ifequal item.grade "g4" %}checked{% endifequal %} value="g4">
            4th
        </div>
    </div>


    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-xs-3 text-right">
            <b>Teacher</b>
        </div>
        <div class="col-xs-4">
            <input type="input" class="form-control" name="teacher{{item.id}}" value="{{item.teacher}}"
                   placeholder="Teacher">

        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-xs-3 text-right">
            <b>Project Title</b>
        </div>

        <div class="col-xs-7">
            <input type="Name" class="form-control" name="project{{item.id}}" value="{{item.title}}"
                   placeholder="Simple project summary">
            (ie. Can Plants Grow Without Sunlight or Water?)
            </textarea>
        </div>

    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-xs-3 text-right">
            <b>Project Description</b>
        </div>

        <div class="col-xs-7">
            <textarea rows="4" type="Description" class="form-control" name="project{{item.id}}">
                {{item.description}}
            </textarea>
        </div>
    </div>


    <div class="row">&nbsp;</div>
    {% endfor %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Finish</button>
        </div>
    </div>
</form>

{% endblock %}
