{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<h1>New Registration</h1>

        <h4>
            The registration process collects information about you and the students participating in the science fair.
            <br>
            <br>
            We use email to send out informational updates.
            <br>
            <br>
            We collect student information to (1) get a count of students (2) to monitor what kinds of projects students are planning.
        </h4>


<form class="form-horizontal" role="form" method="POST" action="/regpost">
    <br>

    <h4>First Parent/Guardian</h4>

    <div class="row form-group">
        <div class="col-xs-2 text-right">
            <b>Name</b>
        </div>
        <div class="col-xs-4">
            <input type="input" id="name1" name="name1" value="{{name1}}" class="form-control" placeholder="Jane Smith">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-2 text-right">
            <b>Email</b>
        </div>
        <div class="col-xs-4">
            <input type="input" name="email1" value="{{email1}}" class="form-control" placeholder="Jane.Smith@examples.com">
        </div>
        {% if error-email1 %}
        <p class="error">{{error-email1}}</p>
        {% endif %}
    </div>


    <br>

    <h4>Second Parent/Guardian Optional</h4>

    <div class="row form-group">
        <div class="col-xs-2 text-right">
            <b>Name</b>
        </div>
        <div class="col-xs-4">
            <input type="input" name="name2"  value="{{name2}}" class="form-control" placeholder="John Smith">
        </div>
        <div class="col-xs-6">
            Providing a second email address is optional.
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-2 text-right">
            <b>Email</b>
        </div>
        <div class="col-xs-4">
            <input type="input" name="email2" value="{{email2}}" class="form-control" placeholder="John.Smith@example.com">
        </div>
        <div class="col-xs-5">
            {% if error-email2 %}
            <p class="error">{{error-email2}}</p>
            {% endif %}
        </div>
    </div>

    <br>


    <div class="row">
        <div class="col-xs-2 text-right">
            <b>Number Entrants</b>
        </div>

        <div class="col-xs-5">
            {% if error-students %}
            <p class="error">{{error-students}}</p>
            {% endif %}

            <input type="radio" name="students" {% if students = 0 %} checked {% endif %} value="0"> 0 Students (receive emails only.)
            <br>
            <input type="radio" name="students" {% if students = 1 %} checked {% endif %} value="1"> 1 Student
            <br>
            <input type="radio" name="students" {% if students = 2 %} checked {% endif %}  value="2"> 2 Students
            <br>
            <input type="radio" name="students" {% if students = 3 %} checked {% endif %} value="3"> 3 Students
            <br>
            <input type="radio" name="students" {% if students = 3 %} checked {% endif %} value="4"> 4 Students
            <br>
            (You may change this later)
        </div>
    </div>

    <br>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Continue</button>
        </div>
    </div>

</form>

<script>
    document.getElementById("name1").focus();
</script>

{% endblock %}

