{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<h1>Thank you for registering!</h1>

<p>
<br>
<font size="+1">
You can return and update your registration at any time <br>(see the "My Registration" link at the top of the page.)
<p>
<br>
You will receive occasional email updates from the Science Fair Team.

<p>
    <br>

    <b>We just sent you a welcome email!</b><br>Please verify that you got the email, and add <a href="mailto:no-reply@gdesciencefair.org">no-reply@gdesciencefair.org</a> to your contact list.
    <br>(to keep us out of your spam folder.)
</font>

</p>

{% endblock %}
