{% extends "sciencefair/views/templates/admin/base.html" %}
{% block content %}


Total Adults {{adults|count}}
<br>
<br>

<form method="POST" action="/adults" class="form-inline" >

<table class="table table-striped">
    <tr>
        <th>Parent 1</th>
        <th>Email 1</th>
        <th>Parent 2</th>
        <th>Email 2</th>
        <th>Students</th>

        <th>Paid</th>
        <th></th>
    </tr>
    {% for adult in adults %}
    <tr>
        <td>{{ adult.name }}</td>
        <td>{{ adult.email }}</td>
        <td>{{ adult.name_2 }}</td>
        <td>{{ adult.email_2 }}</td>
        <td>{{ adult.students }}</td>
        <td width="50px"><input type="text" class="form-control" cols="4" name="paid{{ adult.id }}" value="{{ adult.paid }}" placeholder=""></td>
    </tr>

    {% endfor %}

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td width="100px"><button type='submit' name="Save" class="btn btn-primary btn-sm">Save</button></td>
    </tr>

</table>



</form>


{% endblock %}
