{% extends "sciencefair/views/templates/base.html" %}
{% block content %}

<h1>Administration</h1>

<ul class="nav nav-tabs">
    <li class="active"><a href="/a">Students</a></li>
    <li><a href="/adults">Adults</a></li>
</ul>
<br>

        Total students {{students|count}}
        <br>
<br>

<table class="table table-striped">
    <tr>
        <th>Student</th>
        <th>School</th>
        <th>Grade</th>
        <th>Project</th>
        <th>Parent 1</th>
        <th>Email 1</th>
        <th>Parent 2</th>
        <th>Email 2</th>
        <th>Created</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.student }}</td>
        <td>{{ student.school }} </td>
        <td>{{ student.grade }} </td>
        <td>{{ student.title }} </td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.secondary_2 }}</td>
        <td>{{ student.secondary }}</td>
        <td>{{ student.created_date }}</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="9"><b>Description: </b> {{ student.description }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
